.header-bg-image {
    background-image: url('../../public/images/bg/wave1.png'), linear-gradient(to right, rgb(26, 57, 232), rgb(194, 25, 152));
    height          : 40rem;
    min-height      : 50rem;
    position        : relative;
    background-size : cover;
}


.header-bg-bottom-wave {
    position: absolute;
    bottom  : -0.1rem;
}

.header-content {
    padding-top: 12rem;
}


/* Avatar */
.avatar-wobble {
    border-radius: 80% 20% 81% 19% / 23% 81% 19% 77%;
    transform    : rotate(-2deg);
    animation    : wobble-article 8s ease-in-out alternate infinite;
}


@keyframes wobble-article {
    50% {
        border-radius: 750px 550px 350px 750px / 350px 750px 550px 450px;
    }

    100% {
        border-radius: 750px 250px 750px 250px / 250px 750px 250px 750px;
        transform    : rotate(2deg);
    }
}