.navbar {
    min-height: 4rem;
}

/* INTRO */
.intro-bg-image {
    background-image: url('../../public/images/bg/wave1.png'), linear-gradient(to right, rgb(26, 57, 232), rgb(194, 25, 152));
    min-height      : 45rem;
    position        : relative;
    background-size : cover;
}

.intro-bg-bottom-wave {
    position: absolute;
    bottom  : -0.1rem;
}

.intro-content {
    padding-top: 7rem;
}

.intro-col {
    height: 12rem;
}

/* SKILLS */
.skills-bg-image {
    background-image: url('../../public/images/bg/wave1.png'),
        linear-gradient(to right, rgb(39, 39, 39), rgb(60, 60, 60));
    min-height     : 25rem;
    position       : relative;
    background-size: cover;
}

.nav-link:hover,
.text-link:hover {
    cursor: pointer;
}

/* Avatar */
.avatar-wobble {
    height       : 12rem;
    border-radius: 80% 20% 81% 19% / 23% 81% 19% 77%;
    transform    : rotate(-2deg);
    animation    : wobble-article 7s ease-in-out alternate infinite;
}

@media (min-width: 768px) {
    .header-content {
        padding-top: 9rem;
    }

    .avatar-wobble {
        height: 17rem;
    }

    .header-bg-image {
        min-height: 45rem;
    }

}

@keyframes wobble-article {
    50% {
        border-radius: 750px 550px 350px 750px / 450px 750px 550px 650px;
    }

    100% {
        border-radius: 750px 250px 750px 250px / 450px 750px 250px 550px;
        transform    : rotate(2deg);
    }
}